<section>
  <h4>Welcome to message world!</h4>
  <div>
    <div id="user" >User</div>
    <label>x <input type="number" id="x" /></label>
    <label>y <input type="number" id="y" /></label>
  </div>
</section>
